<table class="table-hover">
    <thead>
        <tr id="table-header-row">
            <th>
                <div class="space-evenly">
                    <span class="arrow-left"
                          hx-get="{% url "weekly_stars:weekly_stars" %}?week={{ week|add:"1" }}"
                          hx-target="closest table"
                          hx-push-url="true"
                          hx-swap="outerHTML"></span>
                    {% if week > 1 %}
                        <span class="arrow-right"
                              hx-get="{% url "weekly_stars:weekly_stars" %}?week={{ week|add:"-1" }}"
                              hx-target="closest table"
                              hx-push-url="true"
                              hx-swap="outerHTML"></span>
                    {% endif %}
                    {% if week > 0 %}
                        <span class="{% if week == 1 %}arrow-right{% else %}arrow-right-end{% endif %}"
                              hx-get="{% url "weekly_stars:weekly_stars" %}"
                              hx-target="closest table"
                              hx-push-url="true"
                              hx-swap="outerHTML"></span>
                    {% endif %}
                </div>
            </th>
            <th>Repeatable</th>
            <th>Rabbit/Elephant</th>
            <th>Frequency</th>
            {% for day in weekdays %}
                <th {% if today == day %}class="is-today"{% endif %}>{{ day|date:"D j/n" }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody id="table-body">
        {% for goal, completions in goals_with_completions.items %}
            {% include "weekly_stars/goal_row.html" %}
        {% endfor %}
        {% include "weekly_stars/table_entry_form.html" %}
    </tbody>
</table>
