{% extends "base.html" %}
{% block content %}
  <table class="table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Repeatable</th>
        <th>Rabbit/Elephant</th>
        <th>Frequency</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      {% for goal, completions in goals_with_completions.items %}
        <tr>{% include "weekly_stars/goal_row.html" %}</tr>
      {% endfor %}
      {% include "weekly_stars/table_entry_form.html" %}
    </tbody>
  </table>
  <style>
  .star-outline {
    font-size: 1.5em;
    cursor: pointer;
  }
  .star-outline::before {
    content: "☆";
  }
  .star-outline.star-filled::before {
    content: "⭐️";
  }
  td, th{
    padding: 0.5em;
  }
  table.table-hover tr:hover{
    background-color: #0071d02b;
  }
  .btn {
    white-space: nowrap;
  }
  </style>
{% endblock content %}
