[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wagtail = "*"
django = "*"
wagtailcodeblock = "*"
wagtailmenus = "*"
wagtail-modeladmin = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.12"

[scripts]
wagtail = "python backend/manage.py runserver 0.0.0.0:80"
