{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block content %}
  <h1>{{ page.title }}</h1>
  <div>{{ page.description }}</div>
  {% if page.featured.exists %}
    <div>
      <h2>Featured posts</h2>
      {% for feat_post in page.featured.all %}
        {% include "blog/includes/featured_post_preview.html" %}
      {% endfor %}
    </div>
  {% endif %}
  {% if child_category_pages.exists %}
    <div>
      <h2>Categories</h2>
      <ul>
        {% for cat in child_category_pages.all %}
          <li>
            <a href="{{ cat.url }}">{{ cat.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div>
    <h2>Latest posts</h2>
    {% for post in child_post_pages.all %}
      {% include "blog/includes/post_preview.html" %}
    {% endfor %}
  </div>
{% endblock content %}
